{% extends 'base.html' %}

{% block title %} Show your new post! {% endblock %}

{% block content %}

    <h1>Here's your new post</h1>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p>{{ post.user.first_name }}</p>
    <p>{{ post.user.last_name }}</p>
    <p>Posted on: {{ post.friendly_date }}</p>

    {% if post.tags %}
    <p>
        <h3>Tags!</h3>
        {% for tag in post.tags %}
                <a href="/tags/{{ tag.tag_id }}"><i class="badge badge-success">{{ tag.tag_name }}</i></a>
        {% endfor %}
    </p>
    {% endif %}

    <form>
        <button class="btn btn-outline-primary"
                formmethod="GET"
                formaction="/users/{{ post.user_id }}">Cancel</button>
        <button class="btn btn-primary"
                formmethod="GET"
                formaction="/posts/{{ post.post_id }}/edit">Edit</button>
        <button class="btn btn-danger"
                formmethod="POST"
                formaction="/posts/{{ post.post_id }}/delete">Delete</button>
      </form>

{% endblock %}