{% extends 'base.html' %}

{% block title %} Show your new post! {% endblock %}

{% block content %}

    <h1>Here's your new post</h1>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p>{{ post.user.first_name }}</p>
    <p>{{ post.user.last_name }}</p>

    <form>
        <button class="btn btn-outline-primary"
                formmethod="GET"
                formaction="/users/{{ post.user_id }}">Cancel</button>
        <button class="btn btn-primary"
                formmethod="GET"
                formaction="/posts/{{ post.id }}/edit">Edit</button>
        <button class="btn btn-danger"
                formmethod="POST"
                formaction="/posts/{{ post.id }}/delete">Delete</button>
      </form>

{% endblock %}